.WalletAddress {
  @apply font-medium;
}

.WalletAddress.styled {
  @apply bg-gray-100 text-gray-800 font-bold text-sm px-4 py-2 rounded-md shadow-md hover:shadow-lg;
}

.WalletBalance.styled {
  @apply bg-gray-100 text-gray-800 font-bold text-sm px-4 py-2 rounded-md shadow-md hover:shadow-lg;
}

.ButtonSIWELogin.styled {
  @apply bg-gradient-to-br from-emerald-500 to-emerald-700 text-white font-bold text-sm px-4 py-2 rounded-md shadow-md hover:shadow-lg hover:from-emerald-600 hover:to-emerald-800;
}

.ButtonSIWELogin.styled:disabled {
  @apply bg-gray-400 cursor-not-allowed !important;
}

.ButtonSIWELogin.styled:disabled:hover {
  @apply bg-gray-400 !important;
}

.lds-dual-ring {
  display: inline-block;
  width: 22px;
  height: 22px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 18px;
  height: 18px;
  margin-top: 4px;
  border-radius: 50%;
  animation: lds-dual-ring 1.2s linear infinite;
}

.lds-dual-ring.light:after {
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  @apply shadow-lg;
}

.lds-dual-ring.dark:after {
  border: 6px solid #3e3e3e;
  border-color: #3e3e3e transparent #3e3e3e transparent;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

/* reset */
button,
fieldset,
input {
  all: unset;
}

.DialogOverlay {
  background-color: var(--blackA9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 763px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  margin: 0;
  font-weight: 500;
  color: var(--mauve12);
  font-size: 17px;
}

.DialogDescription {
  margin: 10px 0 20px;
  color: var(--mauve11);
  font-size: 15px;
  line-height: 1.5;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
}
.Button.violet {
  background-color: white;
  color: var(--violet11);
  box-shadow: 0 2px 10px var(--blackA7);
}
.Button.violet:hover {
  background-color: var(--mauve3);
}
.Button.violet:focus {
  box-shadow: 0 0 0 2px black;
}
.Button.green {
  background-color: var(--green4);
  color: var(--green11);
}
.Button.green:hover {
  background-color: var(--green5);
}
.Button.green:focus {
  box-shadow: 0 0 0 2px var(--green7);
}

.IconButton {
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--violet11);
  position: absolute;
  top: 10px;
  right: 10px;
}
.IconButton:hover {
  background-color: var(--violet4);
}
.IconButton:focus {
  box-shadow: 0 0 0 2px var(--violet7);
}

.Fieldset {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;
}

.Label {
  font-size: 15px;
  color: var(--violet11);
  width: 90px;
  text-align: right;
}

.Input {
  width: 100%;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  color: var(--violet11);
  box-shadow: 0 0 0 1px var(--violet7);
  height: 35px;
}
.Input:focus {
  box-shadow: 0 0 0 2px var(--violet8);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.react-datalist-input__container > * {
  box-sizing: border-box;
}

.react-datalist-input__container {
  width: 100%;
  position: relative;
  --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --gray: rgb(200, 200, 200);
  --padding: 5px;
  --border-radius: 5px;
  --border: 1px solid var(--gray);
}

.react-datalist-input__textbox {
  @apply box-border w-full rounded-full border-2 border-solid border-[#9146FF] px-6 py-4 shadow-xl  dark:bg-white/10 dark:text-white dark:placeholder:text-gray-600;
}

.react-datalist-input__listbox {
  width: 100%;
  position: absolute;
  margin: 2px 0 0 0;
  padding: 0;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: white;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  box-shadow: var(--shadow);
  z-index: 10;
}

.react-datalist-input__listbox-option {
  width: 100%;
  cursor: pointer;
  margin: 0;
  padding: var(--padding);
}

.react-datalist-input__listbox-option:focus {
  background-color: var(--gray);
}

.react-datalist-input__listbox-option:hover {
  background-color: var(--gray);
}
